<a href="https://colab.research.google.com/github/TeresaPalikandy/Project-Link/blob/main/Python_Project23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
class item:
    def __init__(self , id , itemName , price):
        self.id = id
        self.itemName = itemName
        self.price = price
# in this code we have taken class item

In [19]:
def display(l , cName , cAddress):
    total = 0
    print("\n\n\n")
    print("\t   Catmosphere Cat Store    ")#\t is used to insert a tab character, which typically results in an indentation or spacing effect when the string is displayed.
    print("\t   --------------    ")#prints separator line
    print(f"Name : {cName} \t Address : {cAddress}\n")#print cx name and address
    for obj in l:
        print(f"Id : {obj.id} \t ItemName : {obj.itemName}\tPrice : {obj.price}")
        # prints a line of information containing the ID, item name, and price
        print("------------------------------------------------")#separator line
        total += obj.price#Adds the price of the current item to the total.
    print(f"\t\tTotal : {total}")
    print("\n")
    print("\tThanks for visiting")
    print("\n\n")

In [15]:
pip install colorama

Requirement already satisfied: colorama in /usr/local/lib/python3.10/dist-packages (0.4.6)

In [20]:
from colorama import init, Fore, Style

# Initialize colorama
init(autoreset=True)

# Original print statement
title = "\t    Catmosphere Cat Store    "

# Print the title with color
print(f"{Fore.RED}{title}{Style.RESET_ALL}")

	    Catmosphere Cat Store

In [21]:
# store object array
list = []  #empty list

print("\n\n")#for printing 2 new lines
print("Welcome to Catmosphere store")
cName = input("Enter your name       ")
cAddress = input("Enter your address    ")
totalItems = int(input("Enter total items    "))
print("\n")
#basically we will prompt user to enter all his details

# take input item details
for i in range(0 , totalItems):
    id = (i+1)#this will calculate the item ID based on the loop index i. The IDs start from 1.
    name = input("Enter item name     ")
    price = int(input("Enter price    "))
    list.append(item(id , name , price))

#call display function
display(list , cName , cAddress)

Welcome to Catmosphere store
Enter your name       Teresa Palikandy
Enter your address    6,301,wadoansheri, pune
Enter total items    5


Enter item name     Harness
Enter price    500
Enter item name     Myra cat litter
Enter price    1000
Enter item name     Stainless steel bowl
Enter price    650
Enter item name     Drools dry food
Enter price    880
Enter item name     Mouse cat toy
Enter price    440




	   Catmosphere Cat Store
	   --------------
Name : Teresa Palikandy 	 Address : 6,301,wadoansheri, pune

Id : 1 	 ItemName : Harness	Price : 500
------------------------------------------------
Id : 2 	 ItemName : Myra cat litter	Price : 1000
------------------------------------------------
Id : 3 	 ItemName : Stainless steel bowl	Price : 650
------------------------------------------------
Id : 4 	 ItemName : Drools dry food	Price : 880
------------------------------------------------
Id : 5 	 ItemName : Mouse cat toy	Price : 440
------------------------------------------------
		Total : 3470


	Thanks for visiting